body {
	font-family:arial, verdana, helvetica, sans-serif;
	font-size:12px;
	cursor:default;
	color:#111111;
	background-color:#FFFFFF
}
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
html {
	height:100%;
	margin-bottom:1px;
}
#container {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFFFFF;
	color:#AAAAAA;
}
#header {
	width:100%;
	padding-top:15px;
}
.spacer {
	width:100%;
	height:15px;
}
#header a {
	color:#777777;
	text-decoration:none;
	background-color:#FFFFFF;
}
#header a:hover {
	color:#cc6600;
	background-color:#FFFFFF;
	text-decoration:underline;
}

hr {
	border:0px;
	color:#CCCCCC;
	background-color:#CDCDCD;
	height: 1px;
	width: 100%;
	text-align: left;
}
h1 {
	font-size:38px;
	color:#003399;
	background-color:#FFFFFF;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:800;
}
h2 {
	font-size:20px;
	color:#115555;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:900;
	background-color:#FFFFFF;
}

h3 {
	color:#115555;
	font-size:22px;
	background-color:#F9F9F9;
	border-width:1px;
	border-color:#AAAAAA;
	border-style:solid;
	text-align:left;
	margin-left:0px;
	margin-top:10px;
	margin-right:20px;
	margin-bottom:00px;
	font-weight:600;
	padding:5px;
}
.top_main_heading {
	margin-top:15px;
}
#left {
	float:left;
	width:150px;
	background-color:#FFFFFF;
	color:#AAAAAA;
}
#leftcontent p {
	color:#AAAAAA;
	background-color:#FFFFFF;
	font-size: 12px;
	text-align:left;
	margin-left:20px;
	margin-right:20px;
}
#leftcontent ul {
	list-style-position:outside;
	list-style:square;
	padding-left:20px;
	color:#AAAAAA;
	background-color:#FFFFFF;
}
#leftcontent a {
	color:#003399;
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
	background-color:#FFFFFF;
}
.news {
	color:#999999;
	border-bottom:1px;
	border-left:1px;
	border-right:1px;
	border-top:0px;
	border-style:solid;
	border-color:#AAAAAA;
	background-color:#FFFFFF;
	line-height:20px;
	padding:5px;
}
#leftcontent a:hover {
	color:#CC6600;
	background-color:#FFFFFF;
	text-decoration:underline;
}
#main {
	float:left;
	width:80%;
	color:#111111;
	margin-left:0px;
	background-color:#FFFFFF;
	padding-bottom:20px;
	background:url(img/background.png);
}
#maincontent p.box {
	color:#111111;
	background-color:#FFFFFF;
	border-bottom:1px;
	border-left:1px;
	border-right:1px;
	border-top:1px;
	border-style:solid;
	border-color:#AAAAAA;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:15px;
	line-height:20px;
	padding:20px;
}
#maincontent p {
	color:#111111;
	background-color:#FFFFFF;
	border-bottom:0px;
	border-left:0px;
	border-right:0px;
	border-top:0px;
	border-style:solid;
	border-color:#AAAAAA;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:4px;
	line-height:20px;
	padding:5px;
}
#maincontent pre{
    color:#000000;
    background-color:#99aaaa;
    margin-left:20px;
    padding:4px;
}
#maincontent a {
	color:#003399;
	background-color:#FFFFFF;
	text-decoration:none;
}

#maincontent li {
        margin-top: 5px;
}

#maincontent ul  {
	list-style-type:square;
	padding-top : 0px;
	padding-right : 20px;
	padding-bottom : 5px;
	padding-left : 40px;
	border-bottom : 0;
	border-left : 0;
	border-right : 0;
	border-top : 0;
	border-style : solid;
	border-color : #9c9c9c;
}

#maincontent ol {
	padding-top : 0px;
	padding-right : 20px;
	padding-bottom : 20px;
	padding-left : 40px;
	border-bottom : 0;
	border-left : 0;
	border-right : 0;
	border-top : 0;
	border-style : solid;
	border-color : #9c9c9c;
} 


#maincontent a:hover {
	color:#CC6600;
	background-color:#FFFFFF;
	text-decoration:underline;
}
#footer {
	clear:both;
	width:80%px;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
#footer a {
	color:#AAAAAA;
	background-color:#FFFFFF;
	text-decoration:none;
}
#footer a:hover {
	color:#AAAAAA;
	background-color:#FFFFFF;
	text-decoration:underline;
}
.right {
	color:#AAAAAA;
	background-color:#FFFFFF;
	float:right;
	font-size:100%;
	margin-top:5px;
}
.left {
	color:#AAAAAA;
	background-color:#FFFFFF;
	float:left;
	font-size:100%;
	margin-top:5px;
}
blockquote {
	margin:8px 60px 0px 60px;
	upadding:0px;
	color:#666666;
	padding: 0 0px;
}
