body {
	font-family:arial, verdana, helvetica, sans-serif;
	font-size:12px;
	cursor:default;
	margin:0px;
	color:#666666;
	background-color:#FFFFFF
}
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
html {
        width:100%;
	height:100%;
	margin-bottom:1px;
}
#container {
	width: 850px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFFFFF;
	color:#AAAAAA;
}
#header {
	width:100%;
	padding-top:15px;
}
.spacer {
	width:100%;
	height:20px;
}
#header a {
	color:#888888;
	text-decoration:none;
	background-color:#FFFFFF;
}
#header a:hover {
	color:#663366;
	background-color:#FFFFFF;
	text-decoration:underline;
}

hr {
	border:0px;
	color:#CCCCCC;
	background-color:#CDCDCD;
	height: 1px;
	width: 100%;
}
h1 {
	font-size:48px;
	color:#663366;
	background-color:#FFFFFF;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:300;
}
h1.big {
	font-size:75px;
	color:#663366;
	background-color:#FFFFFF;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:300;
}
h2 {
	font-size:30px;
	color:#bbbbbb;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:300;
	background-color:#FFFFFF;
}

h3 {
	color:#663366;
	font-size:20px;
	background-color:#DDDDDD;
	border-width:1px;
	border-color:#AAAAAA;
	border-style:solid;
	text-align:left;
	margin-left:20px;
	margin-right:20px;
	font-weight:300;
	padding:5px;
}
.top_main_heading {
	margin-top:15px;
}
#main {
	float:center;
	width:800px;
	font-size:15px;
	color:#666666;
	margin-left:0px;
	background-color:#FFFFFF;
	padding-bottom:6px;
	background:url(img/background.png);
}
#main_right {
	float:right;
	width:400px;
	font-size:15px;
	color:#666666;
	margin-left:0px;
	background-color:#FFFFFF;
	padding-bottom:6px;
	background:url(img/background.png);
}
#main_left {
	float:left;
	width:400px;
	font-size:15px;
	color:#666666;
	margin-left:0px;
	background-color:#FFFFFF;
	padding-bottom:6px;
	background:url(img/background.png);
}
#maincontent p {
	color:#666666;
	background-color:#FFFFFF;
	border-bottom:0px;
	border-left:0px;
	border-right:0px;
	border-top:0px;
	border-style:solid;
	border-color:#AAAAAA;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:15px;
	line-height:20px;
	padding:2px;
}
#maincontent p.footer {
	color:#666666;
	background-color:#FFFFFF;
	border-bottom:0px;
	border-left:0px;
	border-right:0px;
	border-top:0px;
	border-style:solid;
	border-color:#AAAAAA;
	margin-left:0px;
	margin-top:10px;
	margin-right:0px;
	margin-bottom:0px;
	line-height:0px;
	padding:0px;
}
#maincontent a {
	color:#666666;
	background-color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
}

#maincontent ul  {
	list-style-type:square;
	list-style-position:outside;
	color : #666666;
	text-color : #666666;
	border-width:1px;
	border-color:#AAAAAA;
	border-style:solid;
	text-align:left;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;
	font-weight:300;
	padding-top : 15px;
	padding-right : 20px;
	padding-bottom : 15px;
	padding-left : 40px;
}
#maincontent a:hover {
	color:#663366;
	background-color:#FFFFFF;
	text-decoration:underline;
}
#footer {
	width:100%;
	clear:both;
	color:#666666;
	margin-top:0px;
	padding-top:0px;
	text-align:center;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

#footer a {
	color:#666666;
	background-color:#FFFFFF;
	text-decoration:none;
}
#footer a:hover {
	color:#663366;
	background-color:#FFFFFF;
	text-decoration:underline;
}
#footer hr {
	color:#ff0000;
}