
/* Layout Stylesheet */ 

body{
 margin: 0;
 padding:0;
 background: #808080;
 color: #333333;
 }
	 
a {color: #0000c0;}
a:visited {color:#0000c0;}
a:hover {color: #00c000;}
a:active { color:#000000;}


#hdr{
 height:55px;
 background:#c0c0c0;
 color:#000000;
 border:solid #00c000;
 border-width:2px 0px;
 margin:20px 0px 0 0;
 }

#lh-col{
 position: absolute;
 top: 99px;
 left: 20px;
 width: 180px;
 border: 2px solid #00c000;
 background: #c0c0c0;
 color: #333333;
 margin: 0px;
 padding: 0px;
 height: 400px;
 }

#rh-col{
 margin: 20px 20px 20px 220px;
 border: 4px solid #0000c0;
 background: #ffffff;
 color: #111111;
 padding: 30px;
 position :relative;
 }

#lh-col ul
{
font-size:14px;
font-weight:bold;
list-style: none;
padding: 0;
margin: 10px;
}

#rh-col ul
{
/*list-style: dashe;*/
font-size:15px;
padding: 0;
margin: 10px;
}
